*{
box-sizing: border-box;


}

html,body{

height: 70vh;
width: 100%;



}
.navbar{
 
 height: 100vh;
 width: 100%;
 background-image: url('images/mobile/image-hero.jpg');
 background-size: cover;
 background-repeat: no-repeat;

}

.navbar ol{

    display:flex;
    gap:7vh ;
    margin-left:63%;
    margin-top:10PX;
}
.navbar ol li {
 
    list-style-type: none;
    

}

.navbar ol li a{

text-decoration: none; 
   color: white; 

}
.navbar img{

    margin-top: 50px;
    padding-left:20px;
}

form{

 color: beige;
 border: solid  wheat;
 position: absolute;
 margin-left:40vh;
 margin-top:5%;
 width: 70vh;
 padding:30px;
 font-size: 25px;
padding-top:1%;
padding-bottom: 1%;

}

/* #cards-container{

  width: 100%;
  display: flex;
   flex-wrap:wrap ;
}
#card-container .card{

  width: 50%;
height: 50vh;
padding: 25%;
display: flex;
flex-wrap: wrap;
}
 
#cards-container .logon{

display:flex;
padding: 25%;
flex-wrap: wrap;
}

#card1{

  display: flex;
  padding: 25%;
flex-wrap: wrap;

}
    #card2{
    
    display: flex;
      padding: 25%;
    flex-wrap: wrap;

    }

  #card3{
    
display: flex;
  padding: 25%;
  flex-wrap: wrap;
  }
  #card4{
    display: flex;
    padding: 25%;
    flex-wrap: wrap;
  
  }
  #card5{
    display: flex;
    padding: 25%;
    flex-wrap: wrap;
  
  }
  #card6{
    display: flex;
    padding: 25%;
    flex-wrap: wrap;

  }
  #card7{
    display: flex;
    padding: 25%;
    flex-wrap: wrap;
  
  }

  #card8{
    display: flex;
    padding: 25%;
    flex-wrap: wrap;
  
  }


 */
